<div>
  <%= image_tag(post.user.avatar.url(:thumb), :align => :left) if post.user.avatar %>
  <b><%=link_to post.title, post %></b>
</div>
<%= post.body %>
<div class="small"><%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
</div>