<div class='span-16'>
	<h2><%= @area.name %></h2>

	<% @posts.each do |post| %>
	<div><b><%=h post.title %></b></div>
	<%=h post.body %>
	<div class="small"><%= link_to 'Show', post %> <%= link_to 'Edit', edit_post_path(post) %>
		<%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></div>
	<% end %>
	<br />

	<%= link_to 'New post', new_post_path %>
</div>

<%= render :partial => "map" %>