<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" <%= GMap::VML_NAMESPACE %> >
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Omnejd - <%= @page_title || "Title not set" %></title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
<!--[if IE]>
  <%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %>
<![endif]-->
  <%= stylesheet_link_tag 'application' %>
  <%= yield :tinymce -%>
  <%= javascript_include_tag ['jquery-1.3.2.min', 'application'] %> 
  <%= javascript_include_tag 'map', :cache => true %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
  
  <%= GMap.header if defined?(@map) %>
  <%= @map.to_html if defined?(@map) %>
 
</head>
<body>
<div class='container'>

<div class="header span-24">	
<div class="span-16">
  <h1><%= @page_title || "Title not set" %></h1>
</div>
<div class="span-8 last">
	<% if !current_user -%>
	  <%= link_to "Register", new_account_path %> |
	  <%= link_to "Log In", new_user_session_path %>
	<% else -%>
	  <%= link_to current_user.login + "'s account", account_path %> |
	  <%= link_to "Logout", user_session_path, :method => :delete %>
	<% end %>
</div>

<div class='span-16'>
	<%= link_to "Posts", posts_url %>
	<%= link_to 'New post', new_post_path %>
  <%= link_to "Areas", areas_url %>
</div>
<div class="span-8 last">
  <%= pluralize User.logged_in.count, "user" %> currently logged in<br />
</div>
</div>	
<% if flash[:error] %><div class="span-24 last"><div class='error'><%= flash[:error] %></div></div><% end -%>
<% if flash[:notice] %><div class="span-24 last"><div class='notice'><%= flash[:notice] %></div></div><% end -%>

<hr />


<%= yield %>


</div>
</body>
</html>